body{
  color:white;
}
.nav{
    list-style:none;
    text-align: center;

   }
   
   .navtop{
    /* padding:3%; */
   }
 .navtop>.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.5%;
 }

 /* .navtop>.nav>.nav-item{
     display: inline-block;
     padding: 0px 10px;
     
   } */
   .content
   {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 27);
   }
   .content>div{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:2%;
    margin-bottom: 2%;
   }
   #content1>#cont1
   {
      width:98%;
   }
   #content1>#cont1>.carousel-inner>div{
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:2%;
    padding-left:9%;
    padding-right: 9%;
   }
   #content1>#cont1>.carousel-inner>div>img{
    width:80%;
   }
   #content1>#cont2{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:3%;
    padding:auto;

   }
   #content1>#cont2>div{
    /* border:1px blue solid; */
   }
   .image{
    border-radius: 2%;
    width:100%;
   }
   .image4{
    border-radius:10px;
    width:100%;
   }
   #content1>#cont3{
    /* /* margin-left: 5%;
    margin-right: 5%; */
    /* margin-top:2%;
    margin-bottom: 2%; */ 
     /* border:1px red solid; */
     width:80%;
   }
   .cont>div{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:3%;
    padding:auto;
   }
   #cont5>div{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:3%;
    padding:auto;
   }
   #content1>#cont6
   {
    /* margin-left: -10%;
    margin-right: -10%; */
    /* padding-left: -2%; */
    width:80%;
   }
   /* #cont6>div{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:3%;
    padding:auto;
   } */
   #box1>div
   {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:3%;
    padding:auto;
   }
   #box2{
    width:80%;
   }
   #box3>#boxlogos>div
   {
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:3%;
    padding:auto;
   }
   .image1
   {
    width:100%;
   }
   #box3>:nth-last-child(1)
   {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:3%;
    padding:auto;
   }
   #box4>div
   {
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:3%;
    padding:auto;
   }
   .image2{
    border-radius:5%;
    width:100%;
   }
   .image3{
    border-radius:10px;
    width:100%;
   }
   #box5{
    width:80%;
   }
   #footer
   {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    /* background-color:rgb(23, 22, 22); */
    background-color: rgb(39, 39, 40);
   }
   #footer>div{
    
    margin-top:3%;
    padding:2%;
   }
   #footer>#footer1
   {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: -10.5%;
    
   }
   #footer>#footer1>#logos
   {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    width:100%;
   }
   #footer1>:nth-last-child(1)
   {
    padding-top: 5%;
    margin-top: 10%;
    margin-bottom: -4%;
   }
   #footer2{
    margin-right: -5%;
    margin-left: -5%;
   }
   #footer2>.listes
   {
    
     display:grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(1,fr);
     gap:3%;
     
     margin-left: -1%;
     margin-right:-1%;
   }
   #footer2>.listes>.list{
      margin-right:-5%;
   }
   #footer2>.listes>.list>nav
   {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
   }
   #footer>#footer3
   {
    margin-right:-3%;
    
   }
   #footer3>.listes
   {
    display:grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(1,fr);
     gap:5%;
     
   }
   
   #footer3>.listes>.list>nav
   {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
   }
   a{
    color:white;
    text-decoration: none;
   }
   #m_slider1
   {
    position: relative;
    display: inline-block;
    /* padding-left: 1%; */
   }
   .carousel-item
   {
    position: relative;
    display: inline-block;
   }
   .details
   {
    position: absolute;
    top:30%;
    left:50%;
    right:10%;
    /* width:100%;
    height:100%; */
    /* display: flex;
    f */
   }
   #readnow1
   {
    color:black;
    background-color: aqua;
    
   }
   #readnow2
   {
    color:black;
    background-color: aqua;
    
   }
   #readnow3
   {
    color:black;
    background-color: aqua;
    
   }
   #readnow4
   {
    color:black;
    background-color: aqua;
    
   }
